@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght,GRAD,ROND@6..144,1..1000,100,100&family=Jost:wght@100..900&display=swap");
/* ==========================================================================
   cover / tools
   ========================================================================== */
/* ==========================================================================
   cover / typo
   ========================================================================== */
/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */
:root {
  --hue: 128;
  --color-white: oklch(1 0 0);
  --color-black: oklch(0 0 0);
  --color-primary: oklch(0.5 0.07 var(--hue));
  --color-dark: oklch(0.38 0.038 var(--hue));
  --color-bg: oklch(0.66 0.084 var(--hue));
  --color-bg-2: oklch(0.845 0.01 var(--hue));
  --color-surface: oklch(0.90 0.006 var(--hue));
  --shadow-str: .24;
  --shadow-str-light: calc(var(--shadow-str) * 0.7);
  --color-shadow: oklch(0.17 0.048 var(--hue) / var(--shadow-str));
  --color-shadow-light: oklch(0.17 0.048 var(--hue) / var(--shadow-str-light));
  --color-highlight: oklch(1 0 0 / var(--shadow-str));
  --color-highlight-light: oklch(1 0 0 / var(--shadow-str-light));
}

::-moz-selection {
  color: var(--color-white);
  background-color: var(--color-dark);
}

::selection {
  color: var(--color-white);
  background-color: var(--color-dark);
}

/* ==========================================================================
   DIMENSIONS / SETTINGS
   ========================================================================== */
:root {
  --spacing-1x: 5px;
  --spacing-1x-5: 8px;
  --spacing-2x: 10px;
  --spacing-3x: 15px;
  --spacing-4x: 20px;
  --spacing-6x: 30px;
  --spacing-9x: 45px;
  --spacing-12x: 60px;
  --padding: var(--spacing-6x);
  --padding-2x: calc(var(--padding) * 2);
  --padding-dynamic: var(--padding);
  --gap: var(--spacing-3x);
}
@media (width < 768px) {
  :root {
    --gap: 10px;
  }
}
@media (width < 450px) {
  :root {
    --gap: 7.5px;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   RESET / GENERIC
   ========================================================================== */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.tt {
  align-items: center;
  color: var(--color-black);
  display: flex;
  height: 100vh;
  font: 800 75px/1.5 helvetica, sans-serif;
  justify-content: center;
  position: fixed;
  left: 0;
  margin: 0;
  top: 0;
  width: 100vw;
}

html {
  scroll-behavior: smooth;
}

/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */
body {
  font-family: var(--font-primary);
  font-size: var(--font-size-content);
  color: var(--color-black);
  background-color: var(--color-bg);
}

/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */
:root {
  --font-primary: "Google Sans Flex", sans-serif;
  --font-secondary: 'Jost', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  line-height: 1;
  margin: 0;
}

h1 {
  color: var(--color-primary);
  font-size: clamp(2.19rem, 3.65vw + 1.09rem, 4.38rem);
  font-weight: 800;
  letter-spacing: 6%;
  text-transform: uppercase;
  margin: 0;
  margin-top: var(--spacing-3x);
}

h2 {
  color: var(--color-primary);
  font-size: clamp(1.88rem, 1.04vw + 1.56rem, 2.5rem);
  font-family: var(--font-secondary);
  font-weight: 600;
  letter-spacing: 1%;
}

h3 {
  color: var(--color-white);
  font-size: clamp(1.5rem, 0.63vw + 1.31rem, 1.88rem);
  font-family: var(--font-secondary);
  font-weight: 500;
  letter-spacing: 1%;
  margin-bottom: var(--gap);
}

a,
li,
div,
span,
p {
  margin: 0;
  color: var(--color-black);
  font-size: clamp(1rem, 0.21vw + 0.94rem, 1.13rem);
  letter-spacing: 1%;
  font-weight: 500;
  line-height: 1.5;
}

.subtitle {
  font-size: clamp(1.13rem, 0.73vw + 0.91rem, 1.56rem);
  color: var(--color-primary);
  font-weight: 400;
  letter-spacing: 12%;
  text-transform: capitalize;
}

.project_title {
  font-size: clamp(1rem, 0.83vw + 0.75rem, 1.5rem);
  font-weight: 700;
  color: var(--color-black);
}

.small {
  font-size: clamp(0.88rem, 0.42vw + 0.75rem, 1.13rem);
}

/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */
a {
  font-weight: 600;
  letter-spacing: 5%;
  line-height: 1;
  transition: color 0.1s ease-out, background-color 0.1s ease-out;
}

a::before,
a * {
  transition: color 0.1s ease-out, background-color 0.1s ease-out;
}

.link:hover {
  color: var(--color-primary);
}

.button {
  color: var(--color-primary);
  background-color: var(--color-surface);
  text-decoration: none;
}
.button:hover {
  background-color: var(--color-white);
  color: var(--color-bg);
}
.button:hover::before {
  background-color: var(--color-bg);
}

.button.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.button.active::before {
  background-color: var(--color-white);
}

p > a {
  text-decoration: none;
  color: var(--color-primary);
}

/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */
.wrapper {
  max-width: 1024px;
  width: calc(100% - var(--spacing-md));
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1x);
}

:not(nav) > ul li {
  --square-size: var(--spacing-1x-5);
  padding-left: calc(var(--square-size) + var(--spacing-2x));
  position: relative;
}
:not(nav) > ul li::before {
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: var(--square-size);
  height: var(--square-size);
  background-color: var(--color-primary);
  border-radius: 2px;
}
:not(nav) > ul li:has(a)::before {
  display: none;
}

@media (width < 768px) {
  ul {
    gap: 0;
  }
}
.container {
  padding: var(--padding-dynamic);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.main {
  min-height: 100vh;
  max-width: calc(100vh - var(--padding-2x));
  display: flex;
  flex-direction: column;
  gap: var(--padding-2x);
}

.square {
  flex-grow: 1;
  height: calc(100vh - var(--padding-2x));
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-margin-top: var(--padding);
}

.surface {
  padding: var(--spacing-6x);
  background-color: var(--color-surface);
}

.surface-sm {
  padding: var(--spacing-3x);
  background-color: var(--color-bg-2);
}

.surface-xs {
  padding: var(--spacing-2x) var(--spacing-3x);
  background-color: var(--color-bg-2);
}

.subdivision {
  background-color: var(--color-bg);
  padding: var(--spacing-4x);
  min-height: 0;
}

.visit {
  pointer-events: none;
  font-size: clamp(1rem, 0.42vw + 0.88rem, 1.25rem);
  font-weight: 600;
  color: var(--color-black);
  background-color: var(--color-surface);
  padding: var(--spacing-1x) var(--spacing-2x);
  aspect-ratio: 1;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute !important;
  bottom: var(--spacing-3x);
  right: var(--spacing-3x);
  line-height: 1;
  transition: all 0.1s ease-out;
}

@media (width < 768px) {
  .container {
    --padding-dynamic: 0;
  }
  .square {
    height: 100vh;
    scroll-margin-top: initial;
  }
  .subdivision {
    padding: var(--spacing-3x);
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  min-height: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  min-width: 0;
}

.grow {
  flex: 1;
  min-height: 0;
}

.grow-2,
.img__container.grow-2 {
  flex: 2;
}

.flex-space-between {
  justify-content: space-between;
  align-items: end;
}

@media (width < 768px) {
  .sm-column {
    flex-direction: column;
  }
  .sm-row {
    flex-direction: row;
  }
}
.nowrap {
  text-wrap: nowrap;
}

header {
  order: 1;
}

.header__content {
  background-color: var(--color-bg);
  top: var(--spacing-6x);
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-9x);
  overflow-y: scroll;
  padding: 0 var(--spacing-3x);
}
.header__content::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: red;
}
.header__content::-webkit-scrollbar-track {
  background-color: transparent;
}
.header__content::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

.nav__links,
.nav__main {
  --square-size: var(--spacing-2x);
}
.nav__links ul,
.nav__main ul {
  pointer-events: initial;
  gap: var(--spacing-2x);
}
.nav__links a::before,
.nav__main a::before {
  content: "";
  top: 50%;
  left: var(--spacing-3x);
  transform: translateY(-50%);
  position: absolute;
  display: inline-block;
  width: var(--square-size);
  height: var(--square-size);
  background-color: var(--color-primary);
  border-radius: 2px;
}
.nav__links a,
.nav__main a {
  display: block;
  padding: var(--spacing-2x) var(--spacing-3x) var(--spacing-1x-5) calc(var(--square-size) + var(--spacing-6x));
  font-size: 1.5rem;
  text-wrap: nowrap;
}
.nav__links a.current,
.nav__main a.current {
  color: var(--color-bg);
  background-color: var(--color-primary);
}
.nav__links a.current::before,
.nav__main a.current::before {
  background-color: var(--color-bg);
}
.nav__links a.current::after,
.nav__main a.current::after {
  display: none;
}

.nav__links a {
  color: var(--color-black);
  font-size: clamp(0.88rem, 0.21vw + 0.81rem, 1rem);
  font-weight: 500;
  --square-size: var(--spacing-1x-5);
  padding-left: calc(var(--square-size) + var(--spacing-4x));
}
.nav__links a:hover {
  color: var(--color-primary);
}
.nav__links a::before {
  left: calc(var(--square-size) + var(--spacing-1x));
  background-color: var(--color-primary);
}

.header .surface-sm {
  background-color: var(--color-primary);
  text-align: center;
}
.header .surface-sm h3 {
  margin-bottom: 0;
}
.header .surface-sm p {
  color: var(--color-white);
  font-weight: 100;
  letter-spacing: 6%;
}

.menu-toggle__container {
  display: none;
  position: fixed;
  top: var(--spacing-6x);
  right: var(--spacing-6x);
  z-index: 20;
}
.menu-toggle__container input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.menu-toggle__container input:focus-visible + label::after {
  outline: 2px solid var(--color-white);
  outline-offset: 4px;
}
.menu-toggle__container label::after {
  content: "Menu";
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--embossed);
  padding: 0 var(--spacing-2x);
  font-size: clamp(1rem, 0.42vw + 0.88rem, 1.25rem);
  transition: all 0.1s ease-out;
}
.menu-toggle__container label:hover::after {
  cursor: pointer;
  background-color: var(--color-white);
  color: var(--color-bg);
}
.menu-toggle__container input:checked + label::after {
  content: "Fermer";
  box-shadow: var(--debossed);
}
.menu-toggle__container input:checked + label:hover::after {
  box-shadow: var(--embossed);
}

@media (width < 1024px) {
  .container {
    gap: 0;
  }
  .header__content {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    padding: var(--padding);
    box-shadow: 0 0 var(--spacing-9x) 0 var(--color-shadow), var(--embossed);
  }
  .menu-toggle__container {
    display: block;
  }
  header:has(.menu-toggle__container input:not(:checked)) .header__content {
    display: none;
  }
}
@media (width < 350px) {
  .header__content {
    width: 100%;
  }
}
li:has(> .nav__projects) {
  contain: inline-size;
}

.nav__projects li {
  padding: 0;
}
.nav__projects .img__container {
  aspect-ratio: 16/9;
  height: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
}
.nav__projects a {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: var(--spacing-1x);
  align-items: center;
  padding: 0;
  text-decoration: none;
  height: var(--spacing-6x);
}
.nav__projects a::before {
  display: none;
}
.nav__projects p {
  display: flex;
  align-items: center;
  font-size: 0.88rem;
  background-color: var(--color-surface);
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  padding: 0 var(--spacing-1x-5);
}
.nav__projects p:hover {
  background-color: var(--color-white);
  color: var(--color-bg);
}
.nav__projects a.active p {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.img__container {
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
  display: flex;
}
.img__container p.surface {
  position: absolute;
  top: var(--spacing-6x);
  right: var(--spacing-6x);
  padding: var(--spacing-2x) var(--spacing-3x);
  width: -moz-fit-content;
  width: fit-content;
  max-width: 50%;
}
.img__container p.surface.bottom-right {
  top: initial;
  right: var(--spacing-6x);
  bottom: var(--spacing-6x);
}
.img__container p.legend {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  max-width: calc(100% - var(--spacing-6x));
  font-size: clamp(0.75rem, 0.42vw + 0.63rem, 1rem);
  bottom: var(--spacing-3x);
  right: var(--spacing-3x);
  padding: 2px var(--spacing-1x-5) 1px;
  background-color: var(--color-surface);
  border-radius: var(--border-radius);
}

@media (width < 768px) {
  .img__container p.surface {
    max-width: calc(100% - var(--spacing-6x) * 2);
  }
}
img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.software__container {
  display: flex;
  gap: var(--gap);
}
.software__container div {
  flex-grow: 1;
  aspect-ratio: 1;
  background-color: var(--color-bg-2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-2x);
}

.about img {
  -o-object-position: 30% 10%;
     object-position: 30% 10%;
}

@media (width < 768px) {
  .software__container div {
    padding: var(--spacing-1x);
  }
}
.projects a {
  text-decoration: none;
}
.projects .subdivision {
  padding: var(--spacing-3x);
  background-color: var(--color-bg-2);
  gap: var(--spacing-1x);
}

.project {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  gap: var(--gap);
  min-width: 0;
  min-height: 0;
  background-color: transparent;
}
.project .img__container img {
  aspect-ratio: 16/9;
}
.project:hover * {
  color: var(--color-primary);
}
.project:hover .visit {
  background-color: var(--color-white);
}

.tags {
  display: flex;
  gap: var(--spacing-2x);
  flex-wrap: wrap;
}
.tags span {
  font-weight: 400;
  color: var(--color-black);
  padding: 0 var(--spacing-1x-5);
  background-color: var(--color-surface);
  border-radius: var(--border-radius);
  font-size: clamp(0.88rem, 0.21vw + 0.81rem, 1rem);
}

@media (width < 768px) {
  .tags span {
    display: none;
  }
  .project_title {
    font-weight: 600;
  }
  .project {
    grid-template-columns: 1fr 1fr;
  }
  .subdivision {
    gap: 0;
  }
}
.hide {
  position: absolute;
  opacity: 0;
}

section.contact {
  gap: var(--spacing-9x);
}

.contact > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-9x);
  background-color: var(--color-surface);
}
.contact > div:first-of-type {
  flex-grow: 1;
}

.video {
  border-radius: var(--border-radius);
}

:root {
  --border-radius: var(--spacing-1x);
  --aaa: 1.75px;
  --bbb: calc(-1 * var(--aaa));
  --daa: calc(1.5 * var(--aaa));
  --dbb: calc(-1.5 * var(--aaa));
  --embossed:
      inset var(--bbb) var(--bbb) var(--aaa) 0 var(--color-shadow-light),
      inset var(--aaa) var(--aaa) var(--aaa) 0 var(--color-highlight),
      var(--aaa) var(--aaa) var(--aaa) 0 var(--color-shadow),
      var(--bbb) var(--bbb) var(--aaa) 0 transparent,
      var(--aaa) var(--aaa) var(--aaa) 0 transparent,
      inset var(--aaa) var(--aaa) var(--aaa) 0 transparent;
  --debossed:
      inset var(--bbb) var(--bbb) var(--aaa) 0 transparent,
      inset var(--aaa) var(--aaa) var(--aaa) 0 transparent,
      var(--aaa) var(--aaa) var(--aaa) 0 transparent,
      var(--bbb) var(--bbb) var(--aaa) 0 var(--color-shadow-light),
      var(--aaa) var(--aaa) var(--aaa) 0 var(--color-highlight),
      inset var(--aaa) var(--aaa) var(--aaa) 0 var(--color-shadow);
}

.subdivision,
a,
a::after,
.surface,
li,
.img__container::after,
.img__container > img,
div,
section {
  border-radius: var(--border-radius);
}

*::after {
  transition: box-shadow 0.1s ease-out;
}

.button:hover::after {
  box-shadow: var(--embossed);
}

.embossed::after {
  box-shadow: var(--embossed);
}

.button::after,
.debossed::after {
  box-shadow: var(--debossed);
}

a:hover .debossed::after,
.button:hover .debossed::after {
  box-shadow: var(--embossed);
}

a:hover .embossed::after,
.button:hover .embossed::after {
  box-shadow: var(--debossed);
}

.button,
.embossed,
.debossed {
  position: relative;
}
.button::after,
.embossed::after,
.debossed::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: var(--border-radius);
}
/*# sourceMappingURL=main.css.map */
